@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
  font-family: 'Work Sans', sans-serif;
}

html {
  font-size: 14px;
}

:root {
  --color-primario: steelblue;
  --color-secundario: lightblue;
  --espacio-separacion: 0.5em;
}

div {
  --espacio-separacion: 0.3em;

  margin: var(--espacio-separacion) 0;
  padding: calc(1.5 * var(--espacio-separacion));
}

span {
  margin: var(--espacio-separacion) 0;
}


.caja {
  border: 2px solid var(--color-secundario);
}

button {
  height: 2em;
}

.form--boton__primario {
  background-color: var(--color-primario);
}

.form--boton__secundario {
  background-color: var(--color-secundario);
}
